*
!.gitignore
!.aliases.zsh
!.config
!.config/cheat
!.config/cheat/cheatsheets
!.config/cheat/cheatsheets/personal
!.config/cheat/cheatsheets/personal/**
!.config/cheat/conf.yml
!.config/cheat/cheat.zsh
!.env.zsh
!.functions.zsh
!.gitconfig
!.p10k.zsh
!.zshrc
